<h1>New Issue</h1>

<form action="/issue", method="POST">
    <input type="text" name="name" placeholder="Name"/>
    {{!-- <input type="date" name="createdAt" placeholder="Created At"/> --}}
    <input type="text" name="status" placeholder="Status"/>
    <input type="text" name="priority" placeholder="Priority"/>
    <input type="submit" value="Add Issue"/>
</form>